.news-listing {
    .card {
        cursor: pointer;
        img {
            width: 100%;
            height: 200px;
            object-fit: cover;
            object-position: center;
        }
        h5 {
            span {
                color: silver;
                float: right;
                position: relative;
                top: 6px;
                font-size: 12px;
            }
        }
        p {
            color: #141414;
            font-size: 16px;
        }
    }
}